// Stack
$delay: 200ms
$left-pos: [-50%, 50%, -50%, 50%, -50%, 50%, 20%, 50%, 25%, 10%]
@for $var from 1 through 20
    .stack .stack-container .language-container-wrapper.animate-in:nth-child(#{$var})
        animation-delay: $delay
    $delay: $delay + 100ms

// Project
@for $i from 1 through 10
    .all-projects .project:nth-child(#{$i})
        left: nth($left-pos, $i)

@for $i from 1 through 10
    .all-projects .project:nth-child(#{$i})
        animation-delay: #{$i}

